rapidfuzz
websockets
requests
youtube_search
wikipedia
gpustat
RealtimeSTT
pyautogui
python-steam-api
pokebase
wolframalpha
duckduckgo-search
googlesearch-python
mcrcon
pydub
ollama
pyttsx3
python_weather
textual
yapper-tts